.animal {
  padding: 20px;
}
.animal-img img {
  height: 200px;
  width: 180px;
  border-radius: 0.5rem;
  object-fit: cover;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

.animal-img img:hover {
  background-color: #ccc;
  opacity: 0.8;
}
.animal-name{
   
    padding: 2px 5px;
    width: 80%;
    background-color: rgba(243, 239, 239, 0.986);
    color: blueviolet;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
}
.animal-name:hover{
    background-color: rgb(248, 244, 244);
    opacity: 0.8;
}

.animal-title{
    border-bottom: 1px solid rgb(240, 11, 228);
    font-weight:bold;
    color: rgb(13, 170, 233)

}